<link rel="stylesheet" href="/components/navbar/navbar.css">

<nav class="navbar">
    <div>
        <a class="navbar_logo" href="#"><img src="/assets/Icons/SHUGRUP Logo.svg" alt="" srcset=""></a>

        <ul class="navbar_items">
            <li class="nav_item">
                <a class="nav_link" href="#">Catalog</a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">New Arrivals</a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">Men</a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">Women</a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">Sale</a>
            </li>
        </ul>
    </div>

    <div>
        <form class="search_bar">
            <input type="text" class="search_input" placeholder="Search">
            <img class="nav_icons" id="search_icon" src="/assets/Icons/search_icon.svg">
        </form>

        <div>
            <img src="/assets/Icons/user_icon.svg" class="nav_icons" id="user_icon">
            <img src="/assets/Icons/cart_icon.svg" class="nav_icons" id="cart_icon">
            <img src="/assets/Icons/wishlist_icon.svg" class="nav_icons" id="wishlist_icon">
        </div>
    </div>
</nav>
