<link rel="stylesheet" href="/components/footer/footer.css">

<footer>
    <div id="footers_body">

        <!-- left side -->
        <div>
            <a class="company_logo" href="#"><img src="/assets/Icons/SHUGRUP Logo.svg" alt="Company Logo" srcset=""></a>  
            <div>
                <div>
                    <p>Email</p>
                    <a href="https://gmail.com">hello@shugrup.com</a>
                </div>
                <div>
                    <p>Phone Number</p>
                    <a href="">(704) 555-0127</a>
                </div>
            </div>
        </div>

        <!-- right side -->

        <div>
            <div class="footer_links">
                <p class="links_title">Brands</p>
                <ul class="link_item">
                    <li><a href="">Nike</a></li>
                    <li><a href="">Adidas</a></li>
                    <li><a href="">Puma</a></li>
                    <li><a href="">New Balance</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <p class="links_title">Store</p>
                <ul class="link_item">
                    <li><a href="">Find a store</a></li>
                    <li><a href="">Order Status</a></li>
                    <li><a href="">Refund</a></li>
                    <li><a href="">Payment Option</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <p class="links_title">About</p>
                <ul class="link_item">
                    <li><a href="">Our Mission</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Blogs</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <p class="links_title">Follow Us</p>
                <ul class="social_links">
                    <li><a href=""><img src="/assets/Icons/facebook_icon.svg" alt="Facebook" srcset=""></a></li>
                    <li><a href=""><img src="/assets/Icons/instagram_icon.svg" alt="Instagram" srcset=""></a></li>
                    <li><a href=""><img src="/assets/Icons/twitter_icon.svg" alt="Twitter" srcset=""></a></li>
                    <li><a href=""><img src="/assets/Icons/youtube_icon.svg" alt="Youtube" srcset=""></a></li>
                </ul>
            </div>
        </div>          
    </div>
    <div id="bottom_links_section">
        <p>&copy;2023 Shugrup Co. All rights reserved.</p>
        <ul class="bottom_links">
            <li><a href="">Terms and Condition</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Cookies</a></li>
        </ul>
    </div>
</footer>

