@import url('/styles/style-importer.css');


/* Hero Section */

.hero_section {
    margin: 32px 0px;
}

.hero_section_body {
    display: flex;
    height: 744px;
    flex-direction: column;
}

.hero_section_body > div:nth-child(1) {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-top: 0.8px solid var(--default-tertiary);
    background: var(--default-transparent-tertiary-8, rgba(205, 205, 205, 0.08));
}

.hero_section_body > div:nth-child(1) > p {
    color: var(--default-primary);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#hero_img_container {
    height: 100%;
    background-image: url('/assets/Images/front-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hero_section_cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.hero_section_cta > p {
    color: var(--default-primary);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.hero_section_cta > .shop_now_btn {
    display: flex;
    width: 160px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: var(--default-primary);
    color: var(--default-white);
    font-size: 1rem;
    font-weight: 400;
    border: 2px solid var(--default-primary);
}

.hero_section_cta > .shop_now_btn:hover {
    opacity: 75%;
}

.hero_section_cta > .login_btn {
    display: flex;
    width: 160px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--default-primary);
    background-color: none;
    color: var(--default-primary);
    font-size: 1rem;
    font-weight: 400;
}

.hero_section_cta > .login_btn:hover {
    opacity: 60%;
}


/* Brand Partners */
.brand_partners_section {
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--default-primary);
    padding: 32px 0px 40px 0px;
    gap: 20px;
}

.brand_partners_section > h1 {
    color: var(--default-white, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.brand_partners_section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.brand_partners_section > div > img {
    filter: invert(100%);
    width: 148px;
    height: 96px;
}
